.Top_menu {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    right:0px;
    height: 4em;
    background-color: #2d2d2d;
    display: inline;
}

.Top_menu ul li {
    line-height:2em;
    list-style: none;
    color:white;
    float: left;
    vertical-align: middle;
    text-align: center;
}

.Top_menu .menulink {
    text-decoration: none;
    display:block;
    width: 4em;
    color:white;
}

.Top_menu .menulink:hover {
    color:red;
    background-color: #4d4d4d;
}

.Side_menu {
    position: fixed;
    width: 10em;
    left:0px;
    top: 4em;
    bottom: 0px;
    background-color: #cfc;
}

.Content {
    position:absolute;
    top: 4em;
    left: 10em;
}
