.top-menu
  position: fixed
  z-index: 999
  top: 0
  left: 0
  right: 0
  height: 4em
  background-color: #2d2d2d
  display: inline
  li
    line-height: 2em
    list-style: none
    color: white
    float: left
    vertical-align: middle
    text-align: center

.menulink
  text-decoration: none
  display: block
  width: 4em
  color: white
  &:hover
    color: red
    background-color: #4d4d4d

.side-menu
  position: fixed
  width: 10em
  left: 0
  top: 4em
  bottom: 0
  background-color: #cfc

.content
  position: absolute
  top: 4em
  left: 10em

.article
  padding: 10px

.article-wrap
  margin: 10px
  padding: 10px
  border: 1px solid
  overflow: auto

.delete-edit-box
  float: right
  font-weight: bold

.comment-wrapper
  clear: both

.comment-list
  margin: 0
  padding: 0

.comment-item
  margin: 5px
  padding: 5px
  border: 1px solid
  list-style: none

.comment-information > img
  width: 32px
  height: 32px
  vertical-align: -50%

.comment-content
  clear: both

.comment-controller
  text-align: right
