{% extends "base.html" %}

{% block head %}
<title>스누씨 로그인화면</title>
<link rel="stylesheet" href="/static/base.css" />
{% endblock %}

{% block content %}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<form id="login" action="#" onsubmit="return false;">
    로그인<br>
    아이디:<br>
    <input type="text" name="ID" /><br>
    비밀번호:<br>
    <input type="password" name="password" /><br>
    <button onclick="login()">로그인</button>
</form>
<script type="text/javascript">
function login() {
    var form = document.getElementById("login");
    var id = form.elements["ID"].value;
    var pass = form.elements["password"].value;
    $.ajax({
        url: 'http://aws.izz.kr:3000/api/v1/users/sign_in',
        dataType: 'json',
        data: {username: id, password: pass},
        type: 'POST',
        success: function(data) {
            document.cookie = "snucsesession="+data.access_token;
            location.href = "/";
        }.bind(this),
        error: function(xhr) {
            alert("아이디 혹은 비밀번호를 확인해주세요");
        }.bind(this)
    });

}
</script>
{% endblock %}
