{% extends "base.html" %}

{% block head %}
<title>스누씨 가입신청</title>
<link rel="stylesheet" href="/static/base.css" />
{% endblock %}

{% block content %}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<a href="/login">로그인</a><br>
<form id="sign_up" action="#" onsubmit="return false;">
	가입<br>
	아이디:<br>
	<input type="text" name="username" autofocus /><br>
	비밀번호:<br>
	<input type="password" name="password" /><br>
	이름:<br>
	<input type="text" name="name" /><br>
	<button onclick="goLoginPage()">가입</button>
</form>
<script type="text/javascript">
function goLoginPage() {
    var form = document.getElementById("sign_up");
    var username = form.elements["username"].value;
    var password = form.elements["password"].value;
	var name = form.elements["name"].value;
    $.ajax({
        url: 'http://snucse.snucse.org:32123/api/v1/users/sign_up',
        dataType: 'json',
        data: {username: username, password: password, name: name},
        type: 'POST',
        success: function(data) {
            location.href = "/login";
        }.bind(this),
        error: function(xhr) {
            alert("아이디 혹은 비밀번호를 확인해주세요");
        }.bind(this)
    });
}
</script>
{% endblock %}
