@import "mixin.styl"
#article-write-box,#article-edit-box
  box()
  padding 20px
  margin-top -1px
#article-write-box-title,#article-edit-box-title
  font-size 16px
  font-weight 600
  padding-bottom 10px
.write-form-label
  width 70px
  padding 7px 0 0 30px
  display inline-block
  font-weight 700
  vertical-align top
.write-form-input
  width 90%
  input()
#article-editor-container
  display inline-block
  width 90%
#article-write-form-content-input,#article-edit-form-content-input
  width 100%
  min-height 150px
#article-editor-mode-container
  padding-top 7px
  margin-bottom 5px
#file-container
  display inline-block
  width 90%
  padding-top 7px
#file-add-button
  button()
.file-edit-button
  button()
.file-delete-button
  button()
#article-write-button-wrapper,#article-edit-button-wrapper
  text-align right
#article-write-button,#article-edit-button
  button()
  padding 3px 8px
  height 36px
  border-radius 4px
  vertical-align middle
@media (max-width: 768px)
  .write-form-label
    width 100%
    text-align left
    padding 7px 0
  .write-form-input
    width 100%
  #article-editor-container
    width 100%
