@import "variable.styl"
*
  box-sizing border-box
a
  color link-color
  text-decoration none
a:hover,a:focus
  color link-hover-color
  text-decoration underline
body
  background-color background-color
  font-family 'Roboto', 'Nanum Gothic', sans-serif
  font-size 14px
  line-height 1.6
  color text-color
