.comment-wrapper
  clear: both

.comment-list
  margin: 0
  padding: 0

.comment-item
  margin: 5px
  padding: 5px
  border: 1px solid
  list-style: none

.comment-information > img
  width: 32px
  height: 32px
  vertical-align: -50%

.comment-content
  clear: both

.comment-controller
  text-align: right
