@import "mixin.styl"
@import "variable.styl"
.comment-container
  padding-left 5px
.comment-prefix:before
  content "\221F"
  font-weight 700
.comment-prefix
  display table-cell
  padding-top 5px
  line-height 14px
  vertical-align top
.comment-main-container
  display table-cell
  padding-left 10px
  width 10000px
.comment-show-more-button
  background transparent
  border 0
  color link-color
  cursor pointer
  padding 2px 5px
.comment-item
  margin-top 15px
.comment-writer-container
  display table-cell
  vertical-align top
  padding-right 10px
.comment-writer-image
  display block
  width 40px
  height 40px
  border-radius 100%
  margin-right 5px
.comment-main
  display table-cell
  vertical-align top
  width 10000px
.comment-date
  float right
  color article-date-color
  font-size 12px
.comment-writer-name
  font-size 14px
  font-weight 600
  margin-bottom 5px
.comment-controller
  text-align right
.comment-edit-button
  button()
.comment-edit-button:hover
  button-hover()
.comment-delete-button
  button()
.comment-delete-button:hover
  button-hover()
.comment-form
  margin-top 5px
.comment-input
  input()
  width 92%
.comment-submit-button
  button()
  margin 0
  margin-left 5px
  padding 3px 8px
  height 36px
  border-radius 4px
  vertical-align middle
