@import "mixin.styl"
@import "variable.styl"
#login-background
  position absolute
  width 100%
  height 100%
  background header-color
#login-box-container
  position absolute
  width 500px
  height 340px
  top 0
  bottom 0
  left 0
  right 0
  margin auto
#login-box-title
  font-size 28px
  line-height 30px
  font-weight 400
  color background-color
  margin-bottom 10px
#login-box
  background-color background-color
  width 500px
  height 300px
  padding 15px
#login-box-header
  text-align center
  font-size 18px
  padding-bottom 15px
  border-bottom 1px solid box-border-color
#login-form
  height 180px
  padding-top 50px
#login-input-container
  width 360px
  float left
.login-form-group
  margin-bottom 15px
.login-form-label
  width 100px
  padding 3px 15px 0
  text-align right
  display inline-block
  font-weight 700
  vertical-align top
.login-form-input
  font-size 14px
  line-height 1.6
  padding 6px 12px
  width 240px
  height 28px
  color input-text-color
  vertical-align middle
  border 1px solid box-border-color
#login-button-container
  width 110px
  float left
  padding-left 10px
#login-button
  background header-color-2
  border 1px solid header-color-1
  color background-color
  width 70px
  height 71px
  border-radius 4px
  font-size 14px
#login-box-footer
  border-top 1px solid box-border-color
  padding-top 15px
  text-align center
  font-size 16px
.login-box-footer-link
  color text-color
