@import "mixin.styl"
@import "variable.styl"
#header
  background-color header-color
#header-container
  width 1230px
  margin auto
#logo-container
  float left
#logo
  float left
  padding 15px
  height 50px
  font-size 18px
  line-height 20px
  color header-text-color
#logo:hover
  text-decoration none
#logout-link
  float right
  padding 15px
  height 50px
  font-size 14px
  line-height 20px
  color alpha(header-text-color, 0.7)
#search-form
  float right
  margin 7px 15px
#search-form-input
  padding 6px 12px
  border 1px solid header-input-border-color
  border-radius 4px
  display inline-block
  vertical-align middle
  width 180px
  height 36px
  font-size 14px
  line-height 1.6
  color header-input-text-color
#header:after
  clearfix()
#main-container
  padding-top 30px
  width 1230px
  margin auto
#sidemenu-container
  float left
  width 25%
  padding 0 15px
#following-profiles-box
  box()
#following-profiles-title
  box-title()
#all-profiles-link
  margin-left 5px
  font-size 10px
  font-weight normal
  line-height 1
#tag-cloud-box
  box()
#tag-cloud-title
  box-title()
.tag-cloud-tag-item
  display inline
  margin 0 5px
#main
  float left
  width 75%
  padding 0 15px
#main-container:after
  clearfix()
