@import "mixin.styl"
@import "variable.styl"
#header
  background header-color
#header-container
  width 1230px
  margin auto
#logo-container
  float left
#logo
  float left
  padding 15px
  height 50px
  font-size 18px
  line-height 20px
  color header-text-color
#logo:hover
  text-decoration none
#logout-link
  float right
  padding 15px
  height 50px
  font-size 14px
  line-height 20px
  color alpha(header-text-color, 0.7)
#search-form
  display none // temporarily disabled
  float right
  margin 7px 15px
#search-form-input
  input()
  border-color header-input-border-color
  display inline-block
  width 180px
#header:after
  clearfix()
#main-container
  padding-top 30px
  width 1260px
  margin auto
#sidemenu-container
  float left
  width 280px
  padding 0 15px
#user-box
  box()
  background-color article-background-color
#user-image
  width 60px
  height 60px
  border-radius 100%
  vertical-align middle
#user-name
  display inline
  margin-left 5px
#settings-link
  margin-left 5px
  font-size 10px
  font-weight normal
  line-height 1
#following-profiles-box
  box()
#following-profiles-title
  box-title()
  margin-top 5px
  padding-bottom 10px
  border-bottom 1px solid box-border-color
#all-profiles-link
  margin-left 5px
  font-size 10px
  font-weight normal
  line-height 1
#following-profiles-list
  margin-left 5px
#tag-cloud-box
  box()
#tag-cloud-title
  box-title()
.tag-cloud-tag-item
  display inline
  margin 0 5px
#main
  float left
  width 980px
  padding 0 15px 0 30px
#main-container:after
  clearfix()
