@import "variable.styl"
clearfix()
  clear both
  content " "
  display table
box()
  margin-bottom 20px
  background-color box-background-color
  border 1px solid box-border-color
  border-radius 4px
  padding 15px
box-title()
  font-size 14px
  font-weight 600
  line-height 1.2
  margin-bottom 11px
button()
  cursor pointer
  margin 2px
  padding 2px 5px
  font-size 12px
  line-height 1.5
  border-radius 3px
  color button-color
  background transparent
  border 1px solid button-color
button-hover()
  color #FFFFFF
  background button-color
