clearfix()
  clear both
  content " "
  display table
box()
  margin-bottom 20px
  background-color #FFFFFF
  border 1px solid #D3E0E9
  border-radius 4px
  padding 15px
box-title()
  font-size 14px
  font-weight 600
  line-height 1.2
  margin-bottom 11px
