@import "variable.styl"
clearfix()
  clear both
  content " "
  display table
box()
  margin-bottom 20px
  background-color box-background-color
  border 1px solid box-border-color
  padding 15px
box-title()
  font-size 14px
  font-weight 600
  line-height 1.2
  margin-bottom 11px
button()
  cursor pointer
  margin 2px
  padding 2px 5px
  font-size 12px
  line-height 1.5
  border-radius 3px
  color button-color
  background transparent
  border 1px solid button-color
  display inline-block
button-hover()
  color #FFFFFF
  background button-color
input()
  font-size 14px
  line-height 1.6
  padding 6px 12px
  height 36px
  color input-text-color
  vertical-align middle
  border-radius 4px
  border 1px solid box-border-color
  background-color input-background-color
markdown-style()
  p, h1, h2, h3, h4, h5, h6, ul, ol, blockquote, table
    margin-bottom 10px
  h1
    font-size 200%
    font-weight bold
  h2
    font-size 150%
    font-weight bold
  h3
    font-size 120%
    font-weight bold
  h4
    font-weight bold
  h5
    font-weight bold
  h6
    font-weight bold
  strong
    font-weight bold
  em
    font-style italic
  del
    text-decoration line-through
  ul
    list-style-type disc
    padding-left 20px
  ol
    list-style-type decimal
    padding-left 20px
  blockquote
    padding-left 5px
    color #819198
    border-left 3px solid #DCE6F0
  img
    max-width 100%
  table th
    font-weight bold
  table th, table td
    border 1px solid #DDD
    padding 5px
  code
    background #EEE
    color #567482
    word-break normal
    white-space pre
    font-family Consolas, Menlo, Courier, monospace
