@import "mixin.styl"
#profile-information
  padding 20px
  margin-bottom -1px
  background-color box-background-color
  border 1px solid box-border-color
  border-top-left-radius 4px
  border-top-right-radius 4px
#profile-name
  font-size 16px
  font-weight 600
  margin-bottom 10px
#follow-button
  button()
  float right
