@import "mixin.styl"
#create-profile-form-box
  box()
  background-color article-background-color
#create-profile-form-title
  box-title()
#create-profile-button
  button()
  padding 3px 8px
  height 36px
  border-radius 4px
  vertical-align middle
#create-profile-button:hover
  button-hover()
