@import "mixin.styl"
#create-profile-form-box
  box()
  background-color article-background-color
#create-profile-form-title
  box-title()
.form-group
  margin-bottom 15px
.form-label
  width 16.666667%
  padding 7px 15px 0
  text-align right
  display inline-block
  font-weight 700
  vertical-align top
.form-input
  width 80%
  input()
#create-profile-form-description-input
  height auto
#create-profile-button
  button()
  padding 3px 8px
  height 36px
  border-radius 4px
  vertical-align middle
#create-profile-button:hover
  button-hover()
#profile-list-box
  box()
#profile-list-title
  box-title()
