@import "mixin.styl"
#profile-list
  padding-left: 10px;
#profile-list-box
  box()
  padding 15px 20px
#profile-new-page-link
  float right
  font-size 12px
  font-weight: normal;
  line-height: 32px;
#profile-list-title
  box-title()
  font-size: 20px;
  margin: 14px 0px;
  border-bottom: 1px solid black;
  padding-bottom: 14px;
.profile-list-item
  margin 1px 0px
@media (max-width: 768px)
  #profile-list
    padding-left: 1px;
