@import "mixin.styl"
#settings
  box()
  padding 20px
#settings-title
  font-size 16px
  font-weight 600
  padding-bottom 10px
  border-bottom 1px solid box-border-color
  margin-bottom 14px
#settings-profile-image-input-container
  button()
  display inline-block
  margin-top 7px
#settings-profile-image-input-container:hover
  button-hover()
#settings-profile-image-input
  display none
.change-password-form-group
  margin-bottom 15px
.change-password-form-label
  width 16.666667%
  padding 3px 15px 0
  text-align right
  display inline-block
  font-weight 700
  vertical-align top
.change-password-form-input-container
  width 240px
  display inline-block
.change-password-form-input
  font-size 14px
  line-height 1.6
  padding 6px 12px
  width 100%
  height 28px
  color input-text-color
  vertical-align middle
  border 1px solid box-border-color
#change-password-button
  button()
  margin-left 16.666667%
