.tag-wrapper
  margin: 5px
  padding: 5px
  border: 1px solid
  clear: both
  ul
    display: inline
    margin: 0
    padding: 0
    li
      display: inline

.tag-form ul
  display: block
  width: 160px
  border: 1px solid
  li
    display: block
    display: list-item
    list-style: none
    &.selected,&:hover
      cursor: pointer
      background: black
      color: white;

.tag-form-wrapper
  display: inline
  margin-left: 10px
