@import "mixin.styl"
@import "variable.styl"
#tag-info-container
  box()
#tag-description
  float right
#tag-title
  font-size 16px
  font-weight 600
  padding-bottom 10px
  border-bottom 1px solid box-border-color
  margin-bottom 14px
#tag-info-related-tag-title
  box-title()
#related-tag-container
  margin-bottom 10px
#related-tag-container:before
  content "\25B6"
#related-tag-list
  margin-left 10px
  display inline-block
  height 25px
#related-tag-list:before
  content " "
  display inline-block
#tag-info-article-title
  box-title()
#tag-info-article-list
  margin 0 -15px
#tag-info-article-empty
  margin-left 15px
  margin-bottom 10px
.tag-info-article-container
  float left
  width 50%
  padding 0 15px
.tag-info-article
  box()
  background-color article-background-color
  padding 10px 15px
.tag-info-article-date
  float right
  color article-date-color
  font-size 12px
.tag-info-article-header
  font-size 16px
  font-weight 600
  margin-bottom 5px
  white-space nowrap
.tag-info-article-title
  display inline-block
  vertical-align middle
  max-width 210px
  overflow hidden
  text-overflow ellipsis
.tag-info-article-profiles
  display inline-block
  vertical-align middle
  margin-top 5px
  color article-profiles-color
  max-width 70px
  overflow hidden
  text-overflow ellipsis
  font-size 12px
  font-weight normal
.tag-info-article-writer-container
  display table-cell
  vertical-align top
  padding-right 10px
.tag-info-article-writer-image
  display block
  margin auto
  width 50px
  height 50px
  border-radius 100%
  margin-right 5px
.tag-info-article-writer-name
  font-size 14px
  font-weight 600
  text-align center
  width 50px
  overflow hidden
  text-overflow ellipsis
.tag-info-article-main
  display table-cell
  vertical-align top
  width 10000px
.tag-info-article-content
  word-break break-all
  height 3.2em
  overflow hidden
  text-overflow ellipsis
#tag-info-article-list:after
  clearfix()
#tag-info-profile-title
  box-title()
#tag-info-profile-list
  margin 0 -15px
#tag-info-profile-empty
  margin-left 15px
  margin-bottom 10px
.tag-info-profile-container
  float left
  width 33.333333%
  padding 0 15px
.tag-info-profile
  box()
  background-color article-background-color
  padding 10px 15px
.tag-info-profile-name
  font-size 16px
  font-weight 600
  margin-bottom 5px
.tag-info-profile-description
  word-break break-all
  height 3.2em
  overflow hidden
  text-overflow ellipsis
#tag-info-profile-list:after
  clearfix()
@media (max-width: 768px)
  .tag-info-article-container
    width 100%
  .tag-info-article-writer-container
    display block
  .tag-info-article-writer-image
    display inline
    width 40px
    height 40px
    vertical-align middle
  .tag-info-article-writer-name
    display inline
    width auto
    margin-left 5px
    vertical-align middle
  .tag-info-profile-container
    width 100%
