background-color = #E4EBDF
text-color = #1E3948
link-color = #0E8C55
link-hover-color = #669BC4
header-color-1 = #201835
header-color-2 = #377269
header-color = linear-gradient(to right, header-color-1, header-color-2)
header-text-color = #FFFFFF
header-input-border-color = #1C73A5
input-text-color = #536570
input-background-color = #FFFFFF
box-background-color = #F4FBEE
box-border-color = #BBBBBB
article-background-color = #FFFFFF
article-date-color = #9DA9B0
article-profiles-color = #687881
tag-item-color = #EFF1FA
button-color = #536570
button-border-color = #888888
